.section {
    margin-top: 32px;
}

.section h5 {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 24px 0px;
    border-bottom: 1px solid var(--grey-light-color);
    font: var(--small-caption-font);
}

.section ul {
    padding: 24px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.section li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 96px;
    border: 1px solid var(--grey-light-color);
    border-radius: 10px;
    cursor: pointer;

}

.section li.active {
    border-color: var(--button-light-color);

}

.section li span {
    text-align: center;
}