.navigation {
    margin: auto;
}

.navigation ul {
    display: flex;
    direction: row;
    gap: 32px;



}

.navigation ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.active {
    color: var(--button-hover-color);
}