.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 200px;
    padding: 16px;
    width: 166px;
    height: 56px;
    background-color: var(--button-light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
    font-family: "Inter", sans-serif;
    border: none;
}