.card {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    min-width: 888px;
    height: 368px;
}

.photo {
    display: flex;
    height: 320px;
    width: 292px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    width: 100%;
}

.caption {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.caption>div {
    display: flex;
    gap: 12px;
}

.info button {
    margin-top: 24px;
}

.caption h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}

.caption p {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;
}

.properties {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.tag {
    height: 48px;
    gap: 8px;
    display: flex;
    align-items: center;
    background-color: var(--badges-color);
    padding: 0px 18px;
    border-radius: 100px;
    mix-blend-mode: multiply;
}

button.favorite {
    margin-top: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    background: none;
}

button.favorite:hover {
    background-color: none;
}

.favorite svg {
    fill: var(--main-color);
}

.favorite svg.active {
    fill: var(--button-light-color);
}

.reviews {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.reviews div {
    display: flex;
    gap: 4px;
    align-items: center;
}

.reviews div:first-child span {
    text-decoration: underline;
}

.star {
    fill: var(--rating-color);
}

.map {
    fill: var(--main-color);
}